* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    color: #2b283a;
    font-family: "Roboto", sans-serif;
}

/* typography */

header h1 {
    font-size: 2.25rem;
    color: whitesmoke;
}

header h2 {
    font-size: 1.25rem;
    color: #d0aaff;
}

/* links */

#crafting-link {
    color: #ef5839;
    text-decoration: underline dotted;
}

#crafting-link:hover,
#crafting-link:active {
    color: #d4b44c;
}

/* layout */

header,
section,
footer {
    padding: 45px 0
}

header, .purple-section {
    background-color: #5f29a3;
}

.purple-section {
    color: whitesmoke;
}

.container {
    width: 620px;
    margin: 0 auto;
}

.main-img {
    width: 100%;
}

.purple-section-image-container {
    display: flex;
    justify-content: space-between;
}

.feature-image {
    width: 300px;
    border-radius: 4.6px;
}

footer {
    text-align: center;
    color: #5f29a3;
}